.resetbtn {
    width: 151px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-image: url("/images/restartbutton.jpg") no-repeat;
}

.resetbtn a:hover {
    background-image: url("/images/restartbuttonhover.jpg") no-repeat;
    width: 151px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;   
}

.card {
    width: 150px;
    float: left;
    border-color: deepskyblue;
    background-color: white;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
      
}

.match {
    visibility: hidden;
    width: 150px;
    float: left;
    border-color: deepskyblue;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
      
}


.cardnotflipped {
     
    width: 150px;
    float: left;
    border-color: deepskyblue;
    background-image: url("/images/cover1.gif");
    background-size: 100%;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
      
}

.cardnotflipped img {
    visibility:hidden;
    
    }

img {
    width: 100%;
    
}

#container {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}

.logo {
    display: block;
    width: 250px;

}

.amazing {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}


